@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="lead" class="nav-link text-dark" asp-area="" asp-controller="Leads" asp-action="Index">Leads</a>
        </li>
        <li class="nav-item">
            <a id="company" class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Index">Companies</a>
        </li>
    }
    else
    {

    }
</ul>
